.contenedor {
    background-color: white;
}
.head {
    background-color: black;
    color: white;
    width: 70%;
    padding: 20px;

}
h1 {
    font-style: italic;
    font-size: xx-large;
}
p {
    font-size: small;
}

.cosas {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    padding: 2%;
}

.uno {
    width: 25%;
    padding: 2%;
    border: solid 2px gainsboro;
}
.dos {
    width: 25%;
    padding: 2%;
    border: solid 2px gainsboro;
}
.foot {
    color: blue;
}
.azul {
    color: blue;
}
.verde {
    color: green;
}
.fecha {
    color: gray;
}

