.success {
    border-color: 2px solid darkgreen;
    background-color: green;
    color: white;
}

.error {
    border-color: 2px solid darkred;
    background-color: red;
    color: white;
}

.warning {
    border-color: 2px solid yellow;
    background-color: darkgoldenrod;
    color: white;
}