h2, span {
    font-style: italic;
}

#data {
    background-color: gray;
    color: black;
}

#b {
    font-style: normal;
    font: bold;
}

.segundo {
    font-style:normal
}
.segundo::selection {
    color: red;
}
.segundo::first-letter {
    font-size: 200px;
}

#facebook, #clasroom {
    color: blue;
}
#facebook::selection, #clasroom::selection {
    font-size: 200px;
}

#facebook {
    background-color: gray;
}
#prado, #reina {
    color: red;
}